tjenestespesifikasjoner/nav-cons-sak-gosys-3.0.0/src/main/wsdl/tjenestespesifikasjon/no/nav/asbo/arbeidogaktivitetssak/ASBOGOSYSTilsagnsnummer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/arbeidogaktivitetssak">
	<xsd:complexType name="ASBOGOSYSTilsagnsnummer">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="lopenrTilsagn"
				type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="lopenrSak"
				type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="arstall" type="xsd:int"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
