tjenestespesifikasjoner/nav-cons-sak-gosys-3.0.0/src/main/wsdl/tjenestespesifikasjon/no/nav/asbo/arbeidogaktivitetssak/ASBOGOSYSTiltaksgjennomforing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/arbeidogaktivitetssak"
	xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/arbeidogaktivitetssak">
	<xsd:include schemaLocation="ASBOGOSYSArbeidsgiver.xsd"></xsd:include>
	<xsd:include schemaLocation="ASBOGOSYSAvtale.xsd"></xsd:include>
	<xsd:include schemaLocation="ASBOGOSYSTiltak.xsd"></xsd:include>
	<xsd:complexType name="ASBOGOSYSTiltaksgjennomforing">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="tiltaksgjennomforingId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="tiltaksgjennomforingNavn"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="statusKode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fom" type="xsd:date"></xsd:element>
			<xsd:element minOccurs="0" name="tom" type="xsd:date"></xsd:element>
			<xsd:element minOccurs="0" name="beskrivelse"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="antallDeltakere"
				type="xsd:double">
			</xsd:element>
			<xsd:element minOccurs="0" name="prosentDeltid"
				type="xsd:double">
			</xsd:element>
			<xsd:element minOccurs="0" name="konteringssted"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="tiltakssaksId"
				type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="ansvarligId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="ansvarligEnhetId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="tiltak"
				type="bons0:ASBOGOSYSTiltak">
			</xsd:element>
			<xsd:element minOccurs="0" name="avtale"
				type="bons0:ASBOGOSYSAvtale">
			</xsd:element>
			<xsd:element minOccurs="0" name="arbeidsgiver"
				type="bons0:ASBOGOSYSArbeidsgiver">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
