tjenestespesifikasjoner/nav-cons-sak-gosys-3.0.0/src/main/wsdl/tjenestespesifikasjon/no/nav/asbo/arbeidogaktivitetssak/ASBOGOSYSFinnTiltaksgjennomforingListeResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/arbeidogaktivitetssak"
	xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/arbeidogaktivitetssak">
	<xsd:include
		schemaLocation="ASBOGOSYSTiltaksgjennomforingListe.xsd">
	</xsd:include>
	<xsd:complexType
		name="ASBOGOSYSFinnTiltaksgjennomforingListeResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="totaltAntall"
				type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="tiltaksgjennomforingListe"
				type="bons0:ASBOGOSYSTiltaksgjennomforingListe">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
