tjenestespesifikasjoner/nav-cons-sak-gosys-3.0.0/src/main/wsdl/tjenestespesifikasjon/no/nav/asbo/arbeidogaktivitetssak/ASBOGOSYSFinnTiltaksgjennomforingListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/arbeidogaktivitetssak"
	xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/arbeidogaktivitetssak">
	<xsd:include schemaLocation="ASBOGOSYSTilsagnsnummer.xsd"></xsd:include>
	<xsd:complexType
		name="ASBOGOSYSFinnTiltaksgjennomforingListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="orgnr" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="tiltaksdeltager"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="ansvarligNavEnhetId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fom" type="xsd:date"></xsd:element>
			<xsd:element minOccurs="0" name="tom" type="xsd:date"></xsd:element>
			<xsd:element minOccurs="0" maxOccurs="unbounded"
				name="statusKodeListe" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="maksAntall"
				type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="tilsagnsnummer"
				type="bons0:ASBOGOSYSTilsagnsnummer">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
