tjenestespesifikasjoner/nav-foreldrepenger-v2-tjenestespesifikasjon/src/main/wsdl/tjenestespesifikasjon/no/nav/tjeneste/virksomhet/foreldrepenger/v2/foreldrepenger.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="foreldrepenger" targetNamespace="http://nav.no/tjeneste/virksomhet/foreldrepenger/v2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/foreldrepenger/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/foreldrepenger/v2" xmlns:feil="http://nav.no/tjeneste/virksomhet/foreldrepenger/v2/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/foreldrepenger/v2/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/foreldrepenger/v2/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/foreldrepenger/v2/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="hentForeldrepengerettighet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentForeldrepengerettighetRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentForeldrepengerettighetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentForeldrepengerettighetResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentForeldrepengerettighetsikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentForeldrepengerettighetRequest">
    <wsdl:part name="parameters" element="tns:hentForeldrepengerettighet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentForeldrepengerettighetResponse">
    <wsdl:part name="parameters" element="tns:hentForeldrepengerettighetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentForeldrepengerettighet_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:hentForeldrepengerettighetsikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Foreldrepenger_v2">
    <wsdl:operation name="hentForeldrepengerettighet">
      <wsdl:input message="tns:hentForeldrepengerettighetRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentForeldrepengerettighetResponse">
    </wsdl:output>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:hentForeldrepengerettighet_sikkerhetsbegrensning">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
