tjenestespesifikasjoner/nav-cons-sak-gosys-3.0.0/src/main/wsdl/tjenestespesifikasjon/nav-cons-sak-gosys-3.0.0_GOSYSHenvendelseWSEXP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GOSYSHenvendelseWSEXP_GOSYSHenvendelseHttp_Service" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Henvendelse/Binding" xmlns:Port_0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Henvendelse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Henvendelse/Binding">
  <wsdl:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Henvendelse" location="no/nav/inf/GOSYSHenvendelse.wsdl">
    </wsdl:import>
  <wsdl:binding name="GOSYSHenvendelseWSEXP_GOSYSHenvendelseHttpBinding" type="Port_0:GOSYSHenvendelse">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hentStatistikkAntall">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentStatistikkAntallRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentStatistikkAntallResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentStatistikkHenvendelseGjelder">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentStatistikkHenvendelseGjelderRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentStatistikkHenvendelseGjelderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentStatistikkPrKanal">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentStatistikkPrKanalRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentStatistikkPrKanalResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentStatistikkPrType">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentStatistikkPrTypeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentStatistikkPrTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentHenvendelse">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentHenvendelseRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentHenvendelseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSHenvendelseIkkeFunnet">
        <soap:fault name="faultGOSYSHenvendelseIkkeFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lagreHenvendelse">
      <soap:operation soapAction=""/>
      <wsdl:input name="lagreHenvendelseRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lagreHenvendelseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="faultGOSYSHenvendelseIkkeFunnet">
        <soap:fault name="faultGOSYSHenvendelseIkkeFunnet" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="opprettHenvendelse">
      <soap:operation soapAction=""/>
      <wsdl:input name="opprettHenvendelseRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="opprettHenvendelseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hentHenvendelseListe">
      <soap:operation soapAction=""/>
      <wsdl:input name="hentHenvendelseListeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hentHenvendelseListeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultGOSYSGenerisk">
        <soap:fault name="faultGOSYSGenerisk" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GOSYSHenvendelseWSEXP_GOSYSHenvendelseHttpService">
    <wsdl:port name="GOSYSHenvendelseWSEXP_GOSYSHenvendelseHttpPort" binding="this:GOSYSHenvendelseWSEXP_GOSYSHenvendelseHttpBinding">
      <soap:address location="http://localhost:9080/nav-cons-sak-gosys-3.0.0Web/sca/GOSYSHenvendelseWSEXP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
