tjenestespesifikasjoner/nav-cons-sak-gosys-3.0.0/src/main/wsdl/tjenestespesifikasjon/no/nav/inf/GOSYSArbeidOgAktivitetssak.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="GOSYSArbeidOgAktivitetssak" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/ArbeidOgAktivitetssak" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/arbeidogaktivitetssak" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" xmlns:bons3="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/" xmlns:tns="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/ArbeidOgAktivitetssak" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/ArbeidOgAktivitetssak" xmlns:bons3="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/ArbeidOgAktivitetssak" xmlns:tns="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/GOSYSArbeidOgAktivitetssak">
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/arbeidogaktivitetssak" schemaLocation="../asbo/arbeidogaktivitetssak/ASBOGOSYSFinnTiltaksgjennomforingListeResponse.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/arbeidogaktivitetssak" schemaLocation="../asbo/arbeidogaktivitetssak/ASBOGOSYSFinnTiltaksgjennomforingListeRequest.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" schemaLocation="../fault/FaultGOSYSGenerisk.xsd"/>
            <xsd:element name="FaultGOSYSGenerisk_element" nillable="true" type="bons1:FaultGOSYSGenerisk"/>
            <xsd:element name="finnTiltaksgjennomforingListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnTiltaksgjennomforingListeRequest" nillable="true" type="bons0:ASBOGOSYSFinnTiltaksgjennomforingListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="finnTiltaksgjennomforingListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="finnTiltaksgjennomforingListeResponse" nillable="true" type="bons0:ASBOGOSYSFinnTiltaksgjennomforingListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="finnTiltaksgjennomforingListeRequestMsg">
    <wsdl:part element="tns:finnTiltaksgjennomforingListe" name="finnTiltaksgjennomforingListeParameters"/>
  </wsdl:message>
    <wsdl:message name="finnTiltaksgjennomforingListeResponseMsg">
    <wsdl:part element="tns:finnTiltaksgjennomforingListeResponse" name="finnTiltaksgjennomforingListeResult"/>
  </wsdl:message>
    <wsdl:message name="finnTiltaksgjennomforingListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:FaultGOSYSGenerisk_element" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:portType name="GOSYSArbeidOgAktivitetssak">
        <wsdl:operation name="finnTiltaksgjennomforingListe">
      <wsdl:input message="tns:finnTiltaksgjennomforingListeRequestMsg" name="finnTiltaksgjennomforingListeRequest"/>
      <wsdl:output message="tns:finnTiltaksgjennomforingListeResponseMsg" name="finnTiltaksgjennomforingListeResponse"/>
      <wsdl:fault message="tns:finnTiltaksgjennomforingListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>