tjenestespesifikasjoner/nav-cons-sak-gosys-3.0.0/src/main/wsdl/tjenestespesifikasjon/no/nav/inf/GOSYSHenvendelse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/inf" xmlns:tns="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Henvendelse" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GOSYSHenvendelse" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Henvendelse">
  <wsdl:types>
    <xsd:schema xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/henvendelse" xmlns:bons3="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/henvendelse" xmlns:bons4="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Henvendelse" xmlns:tns="http://nav-cons-sak-gosys-3.0.0/no/nav/inf" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/inf/Henvendelse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault/henvendelse" schemaLocation="../fault/henvendelse/FaultGOSYSHenvendelseIkkeFunnet.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/fault" schemaLocation="../fault/FaultGOSYSGenerisk.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/henvendelse" schemaLocation="../asbo/henvendelse/ASBOGOSYSHenvendelse.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/henvendelse" schemaLocation="../asbo/henvendelse/ASBOGOSYSStatistikk.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/henvendelse" schemaLocation="../asbo/henvendelse/ASBOGOSYSHenvendelseListe.xsd"/>
            <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/henvendelse" schemaLocation="../asbo/henvendelse/ASBOGOSYSHentStatistikkRequest.xsd"/>
            <xsd:element name="hentStatistikkAntall">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentStatistikkAntallRequest" nillable="true" type="bons1:ASBOGOSYSHentStatistikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentStatistikkAntallResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentStatistikkAntallResponse" nillable="true" type="bons1:ASBOGOSYSStatistikk"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentStatistikkHenvendelseGjelder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentStatistikkHenvendelseGjelderRequest" nillable="true" type="bons1:ASBOGOSYSHentStatistikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentStatistikkHenvendelseGjelderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentStatistikkHenvendelseGjelderResponse" nillable="true" type="bons1:ASBOGOSYSStatistikk"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentStatistikkHenvendelseGjelder_faultGOSYSGenerisk" type="bons0:FaultGOSYSGenerisk"/>
            <xsd:element name="hentStatistikkAntall_faultGOSYSGenerisk" type="bons0:FaultGOSYSGenerisk"/>
            <xsd:element name="hentStatistikkPrKanal">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentStatistikkPrKanalRequest" nillable="true" type="bons1:ASBOGOSYSHentStatistikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentStatistikkPrKanalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentStatistikkPrKanalResponse" nillable="true" type="bons1:ASBOGOSYSStatistikk"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentStatistikkPrKanal_faultGOSYSGenerisk" type="bons0:FaultGOSYSGenerisk"/>
            <xsd:element name="hentStatistikkPrType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentStatistikkPrTypeRequest" nillable="true" type="bons1:ASBOGOSYSHentStatistikkRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentStatistikkPrTypeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentStatistikkPrTypeResponse" nillable="true" type="bons1:ASBOGOSYSStatistikk"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentStatistikkPrType_faultGOSYSGenerisk" type="bons0:FaultGOSYSGenerisk"/>
            <xsd:element name="hentHenvendelse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentHenvendelseRequest" nillable="true" type="bons1:ASBOGOSYSHenvendelse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentHenvendelseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentHenvendelseResponse" nillable="true" type="bons1:ASBOGOSYSHenvendelse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentHenvendelse_faultGOSYSGenerisk" type="bons0:FaultGOSYSGenerisk"/>
            <xsd:element name="hentHenvendelse_faultGOSYSHenvendelseIkkeFunnet" type="bons3:FaultGOSYSHenvendelseIkkeFunnet"/>
            <xsd:element name="lagreHenvendelse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreHenvendelseRequest" nillable="true" type="bons1:ASBOGOSYSHenvendelse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreHenvendelseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lagreHenvendelseResponse" nillable="true" type="bons1:ASBOGOSYSHenvendelse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="lagreHenvendelse_faultGOSYSGenerisk" type="bons0:FaultGOSYSGenerisk"/>
            <xsd:element name="lagreHenvendelse_faultGOSYSHenvendelseIkkeFunnet" type="bons3:FaultGOSYSHenvendelseIkkeFunnet"/>
            <xsd:element name="opprettHenvendelse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettHenvendelseRequest" nillable="true" type="bons1:ASBOGOSYSHenvendelse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettHenvendelseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="opprettHenvendelseResponse" nillable="true" type="bons1:ASBOGOSYSHenvendelse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="opprettHenvendelse_faultGOSYSGenerisk" type="bons0:FaultGOSYSGenerisk"/>
            <xsd:element name="hentHenvendelseListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentHenvendelseListeRequest" nillable="true" type="bons1:ASBOGOSYSHenvendelse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentHenvendelseListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hentHenvendelseListeResponse" nillable="true" type="bons1:ASBOGOSYSHenvendelseListe"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element name="hentHenvendelseListe_faultGOSYSGenerisk" type="bons0:FaultGOSYSGenerisk"/>
        </xsd:schema>
  </wsdl:types>
    <wsdl:message name="hentStatistikkAntallRequestMsg">
    <wsdl:part element="tns:hentStatistikkAntall" name="hentStatistikkAntallParameters"/>
  </wsdl:message>
    <wsdl:message name="hentStatistikkAntallResponseMsg">
    <wsdl:part element="tns:hentStatistikkAntallResponse" name="hentStatistikkAntallResult"/>
  </wsdl:message>
    <wsdl:message name="hentStatistikkHenvendelseGjelderRequestMsg">
    <wsdl:part element="tns:hentStatistikkHenvendelseGjelder" name="hentStatistikkHenvendelseGjelderParameters"/>
  </wsdl:message>
    <wsdl:message name="hentStatistikkHenvendelseGjelderResponseMsg">
    <wsdl:part element="tns:hentStatistikkHenvendelseGjelderResponse" name="hentStatistikkHenvendelseGjelderResult"/>
  </wsdl:message>
    <wsdl:message name="hentStatistikkHenvendelseGjelder_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:hentStatistikkHenvendelseGjelder_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentStatistikkAntall_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:hentStatistikkAntall_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentStatistikkPrKanalRequestMsg">
    <wsdl:part element="tns:hentStatistikkPrKanal" name="hentStatistikkPrKanalParameters"/>
  </wsdl:message>
    <wsdl:message name="hentStatistikkPrKanalResponseMsg">
    <wsdl:part element="tns:hentStatistikkPrKanalResponse" name="hentStatistikkPrKanalResult"/>
  </wsdl:message>
    <wsdl:message name="hentStatistikkPrKanal_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:hentStatistikkPrKanal_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentStatistikkPrTypeRequestMsg">
    <wsdl:part element="tns:hentStatistikkPrType" name="hentStatistikkPrTypeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentStatistikkPrTypeResponseMsg">
    <wsdl:part element="tns:hentStatistikkPrTypeResponse" name="hentStatistikkPrTypeResult"/>
  </wsdl:message>
    <wsdl:message name="hentStatistikkPrType_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:hentStatistikkPrType_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentHenvendelseRequestMsg">
    <wsdl:part element="tns:hentHenvendelse" name="hentHenvendelseParameters"/>
  </wsdl:message>
    <wsdl:message name="hentHenvendelseResponseMsg">
    <wsdl:part element="tns:hentHenvendelseResponse" name="hentHenvendelseResult"/>
  </wsdl:message>
    <wsdl:message name="hentHenvendelse_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:hentHenvendelse_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentHenvendelse_faultGOSYSHenvendelseIkkeFunnetMsg">
    <wsdl:part element="tns:hentHenvendelse_faultGOSYSHenvendelseIkkeFunnet" name="faultGOSYSHenvendelseIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="lagreHenvendelseRequestMsg">
    <wsdl:part element="tns:lagreHenvendelse" name="lagreHenvendelseParameters"/>
  </wsdl:message>
    <wsdl:message name="lagreHenvendelseResponseMsg">
    <wsdl:part element="tns:lagreHenvendelseResponse" name="lagreHenvendelseResult"/>
  </wsdl:message>
    <wsdl:message name="lagreHenvendelse_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:lagreHenvendelse_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="lagreHenvendelse_faultGOSYSHenvendelseIkkeFunnetMsg">
    <wsdl:part element="tns:lagreHenvendelse_faultGOSYSHenvendelseIkkeFunnet" name="faultGOSYSHenvendelseIkkeFunnet"/>
  </wsdl:message>
    <wsdl:message name="opprettHenvendelseRequestMsg">
    <wsdl:part element="tns:opprettHenvendelse" name="opprettHenvendelseParameters"/>
  </wsdl:message>
    <wsdl:message name="opprettHenvendelseResponseMsg">
    <wsdl:part element="tns:opprettHenvendelseResponse" name="opprettHenvendelseResult"/>
  </wsdl:message>
    <wsdl:message name="opprettHenvendelse_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:opprettHenvendelse_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:message name="hentHenvendelseListeRequestMsg">
    <wsdl:part element="tns:hentHenvendelseListe" name="hentHenvendelseListeParameters"/>
  </wsdl:message>
    <wsdl:message name="hentHenvendelseListeResponseMsg">
    <wsdl:part element="tns:hentHenvendelseListeResponse" name="hentHenvendelseListeResult"/>
  </wsdl:message>
    <wsdl:message name="hentHenvendelseListe_faultGOSYSGeneriskMsg">
    <wsdl:part element="tns:hentHenvendelseListe_faultGOSYSGenerisk" name="faultGOSYSGenerisk"/>
  </wsdl:message>
    <wsdl:portType name="GOSYSHenvendelse">
    <wsdl:operation name="hentStatistikkAntall">
      <wsdl:input message="tns:hentStatistikkAntallRequestMsg" name="hentStatistikkAntallRequest"/>
      <wsdl:output message="tns:hentStatistikkAntallResponseMsg" name="hentStatistikkAntallResponse"/>
            <wsdl:fault message="tns:hentStatistikkAntall_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
        </wsdl:operation>
        <wsdl:operation name="hentStatistikkHenvendelseGjelder">
      <wsdl:input message="tns:hentStatistikkHenvendelseGjelderRequestMsg" name="hentStatistikkHenvendelseGjelderRequest"/>
      <wsdl:output message="tns:hentStatistikkHenvendelseGjelderResponseMsg" name="hentStatistikkHenvendelseGjelderResponse"/>
            <wsdl:fault message="tns:hentStatistikkHenvendelseGjelder_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
        </wsdl:operation>
        <wsdl:operation name="hentStatistikkPrKanal">
      <wsdl:input message="tns:hentStatistikkPrKanalRequestMsg" name="hentStatistikkPrKanalRequest"/>
      <wsdl:output message="tns:hentStatistikkPrKanalResponseMsg" name="hentStatistikkPrKanalResponse"/>
      <wsdl:fault message="tns:hentStatistikkPrKanal_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
        <wsdl:operation name="hentStatistikkPrType">
      <wsdl:input message="tns:hentStatistikkPrTypeRequestMsg" name="hentStatistikkPrTypeRequest"/>
      <wsdl:output message="tns:hentStatistikkPrTypeResponseMsg" name="hentStatistikkPrTypeResponse"/>
      <wsdl:fault message="tns:hentStatistikkPrType_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
        <wsdl:operation name="hentHenvendelse">
      <wsdl:input message="tns:hentHenvendelseRequestMsg" name="hentHenvendelseRequest"/>
      <wsdl:output message="tns:hentHenvendelseResponseMsg" name="hentHenvendelseResponse"/>
      <wsdl:fault message="tns:hentHenvendelse_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="tns:hentHenvendelse_faultGOSYSHenvendelseIkkeFunnetMsg" name="faultGOSYSHenvendelseIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="lagreHenvendelse">
      <wsdl:input message="tns:lagreHenvendelseRequestMsg" name="lagreHenvendelseRequest"/>
      <wsdl:output message="tns:lagreHenvendelseResponseMsg" name="lagreHenvendelseResponse"/>
            <wsdl:fault message="tns:lagreHenvendelse_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
            <wsdl:fault message="tns:lagreHenvendelse_faultGOSYSHenvendelseIkkeFunnetMsg" name="faultGOSYSHenvendelseIkkeFunnet"/>
        </wsdl:operation>
        <wsdl:operation name="opprettHenvendelse">
      <wsdl:input message="tns:opprettHenvendelseRequestMsg" name="opprettHenvendelseRequest"/>
      <wsdl:output message="tns:opprettHenvendelseResponseMsg" name="opprettHenvendelseResponse"/>
      <wsdl:fault message="tns:opprettHenvendelse_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
    </wsdl:operation>
        <wsdl:operation name="hentHenvendelseListe">
      <wsdl:input message="tns:hentHenvendelseListeRequestMsg" name="hentHenvendelseListeRequest"/>
      <wsdl:output message="tns:hentHenvendelseListeResponseMsg" name="hentHenvendelseListeResponse"/>
            <wsdl:fault message="tns:hentHenvendelseListe_faultGOSYSGeneriskMsg" name="faultGOSYSGenerisk"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
