tjenestespesifikasjoner/nav-cons-sak-gosys-3.0.0/src/main/wsdl/tjenestespesifikasjon/no/nav/asbo/henvendelse/ASBOGOSYSHentStatistikkRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/henvendelse">
  <xsd:complexType name="ASBOGOSYSHentStatistikkRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="enhet" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fagomrade" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tidsperiode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
