tjenestespesifikasjoner/nav-cons-sak-gosys-3.0.0/src/main/wsdl/tjenestespesifikasjon/no/nav/asbo/brevbestilling/ASBOGOSYSBrevbestillingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/brevbestilling" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/brevbestilling">
    <xsd:include schemaLocation="ASBOGOSYSSakskontekst.xsd"/>
    <xsd:complexType name="ASBOGOSYSBrevbestillingRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="brevKode" type="xsd:string"/>
			<xsd:element minOccurs="0" name="brevGruppe" type="xsd:string"/>
			<xsd:element minOccurs="0" name="redigerbart" nillable="true" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="sprakKode" type="xsd:string"/>
			<xsd:element minOccurs="0" name="vedtaksInformasjon" type="xsd:string"/>
			<xsd:element minOccurs="0" name="soknadsInformasjon" type="xsd:string"/>
			<xsd:element minOccurs="0" name="sakskontekst" type="bons0:ASBOGOSYSSakskontekst"/>
			<xsd:element minOccurs="0" name="brevMottakerNavn" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
