tjenestespesifikasjoner/nav-cons-sak-gosys-3.0.0/src/main/wsdl/tjenestespesifikasjon/no/nav/asbo/brevbestilling/ASBOGOSYSVedlegg.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/journal" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ASBOGOSYSVedlegg">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="vedleggsId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="vedleggsNr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="vedleggsInnhold" type="xsd:string"/>
            <xsd:element minOccurs="0" name="versjon" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>