tjenestespesifikasjoner/nav-cons-sak-gosys-3.0.0/src/main/wsdl/tjenestespesifikasjon/no/nav/asbo/brevbestilling/ASBOGOSYSSakskontekst.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/brevbestilling" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/journal" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/journal" schemaLocation="ASBOGOSYSVedlegg.xsd"/>
	<xsd:complexType name="ASBOGOSYSSakskontekst">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="saksid" type="xsd:string"/>
			<xsd:element minOccurs="0" name="saksbehandlernavn" type="xsd:string"/>
			<xsd:element minOccurs="0" name="fagsystem" type="xsd:string"/>
			<xsd:element minOccurs="0" name="fagomradeKode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="journalenhet" type="xsd:string"/>
			<xsd:element minOccurs="0" name="dokumentdato" type="xsd:date"/>
			<xsd:element minOccurs="0" name="gjelder" type="xsd:string"/>
			<xsd:element minOccurs="0" name="dokumenttype" type="xsd:string"/>
			<xsd:element minOccurs="0" name="innhold" type="xsd:string"/>
			<xsd:element minOccurs="0" name="kategori" type="xsd:string"/>
			<xsd:element minOccurs="0" name="mottaker" type="xsd:string"/>
			<xsd:element minOccurs="0" name="sensitivitetsgrad" type="xsd:string"/>
			<xsd:element minOccurs="0" name="kravtype" type="xsd:string"/>
			<xsd:element minOccurs="0" name="tilleggsbeskrivelse" type="xsd:string"/>
			<xsd:element minOccurs="0" name="merknad" type="xsd:string"/>
			<xsd:element minOccurs="0" name="fagspesifikkgradering" type="xsd:string"/>
			<xsd:element minOccurs="0" name="tillattElektroniskVarsling" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="referanse" type="xsd:string"/>
			<xsd:element minOccurs="0" name="vedlegg" type="bons0:ASBOGOSYSVedlegg"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>