tjenestespesifikasjoner/nav-behandleBrukerprofil-v2-tjenestespesifikasjon/src/main/wsdl/tjenestespesifikasjon/no/nav/tjeneste/virksomhet/behandleBrukerprofil/v2/BehandleBrukerprofil.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BehandleBrukerprofil" targetNamespace="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v2" xmlns:feil="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v2/feil" xmlns:meldinger="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v2/meldinger">
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v2/feil" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/tjeneste/virksomhet/behandleBrukerprofil/v2/meldinger" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="oppdaterKontaktinformasjonOgPreferanser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:OppdaterKontaktinformasjonOgPreferanserRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="oppdaterKontaktinformasjonOgPreferanserResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="oppdaterKontaktinformasjonOgPreferanserpersonIkkeFunnet" type="feil:PersonIkkeFunnet"/>
      <xsd:element name="oppdaterKontaktinformasjonOgPreferansersikkerhetsbegrensning" type="feil:Sikkerhetsbegrensning"/>
      <xsd:element name="oppdaterKontaktinformasjonOgPreferanserugyldigInput" type="feil:UgyldigInput"/>
      <xsd:element name="oppdaterKontaktinformasjonOgPreferanserpersonIdentErUtgaatt" type="feil:PersonIdentErUtgaatt"/>
      <xsd:element name="ping">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="pingResponse">
        <xsd:complexType>
          <xsd:sequence>
            
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="oppdaterKontaktinformasjonOgPreferanser_personIkkeFunnet">
    <wsdl:part name="personIkkeFunnet" element="tns:oppdaterKontaktinformasjonOgPreferanserpersonIkkeFunnet">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterKontaktinformasjonOgPreferanser_personIdentErUtgaatt">
    <wsdl:part name="personIdentErUtgaatt" element="tns:oppdaterKontaktinformasjonOgPreferanserpersonIdentErUtgaatt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingRequest">
    <wsdl:part name="parameters" element="tns:ping">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterKontaktinformasjonOgPreferanserResponse">
    <wsdl:part name="parameters" element="tns:oppdaterKontaktinformasjonOgPreferanserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterKontaktinformasjonOgPreferanserRequest">
    <wsdl:part name="parameters" element="tns:oppdaterKontaktinformasjonOgPreferanser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterKontaktinformasjonOgPreferanser_sikkerhetsbegrensning">
    <wsdl:part name="sikkerhetsbegrensning" element="tns:oppdaterKontaktinformasjonOgPreferansersikkerhetsbegrensning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="oppdaterKontaktinformasjonOgPreferanser_ugyldigInput">
    <wsdl:part name="ugyldigInput" element="tns:oppdaterKontaktinformasjonOgPreferanserugyldigInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BehandleBrukerprofil_v2">
    <wsdl:operation name="oppdaterKontaktinformasjonOgPreferanser">
      <wsdl:input message="tns:oppdaterKontaktinformasjonOgPreferanserRequest">
    </wsdl:input>
      <wsdl:output message="tns:oppdaterKontaktinformasjonOgPreferanserResponse">
    </wsdl:output>
      <wsdl:fault name="personIkkeFunnet" message="tns:oppdaterKontaktinformasjonOgPreferanser_personIkkeFunnet">
    </wsdl:fault>
      <wsdl:fault name="sikkerhetsbegrensning" message="tns:oppdaterKontaktinformasjonOgPreferanser_sikkerhetsbegrensning">
    </wsdl:fault>
      <wsdl:fault name="personIdentErUtgaatt" message="tns:oppdaterKontaktinformasjonOgPreferanser_personIdentErUtgaatt">
    </wsdl:fault>
      <wsdl:fault name="ugyldigInput" message="tns:oppdaterKontaktinformasjonOgPreferanser_ugyldigInput">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:pingRequest">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
