tjenestespesifikasjoner/nav-cons-sak-gosys-3.0.0/src/main/wsdl/tjenestespesifikasjon/no/nav/asbo/notat/ASBOGOSYSNotat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/notat">
    <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo" schemaLocation="../ASBOGOSYSEndringsInfo.xsd"/>
	<xsd:complexType name="ASBOGOSYSNotat">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
			<xsd:element minOccurs="0" name="tittel" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="beskrivelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="saksId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="opprinnelse" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="fagomrade" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="kontekst" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="tiltaksvariant" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="sensitivt" type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0" name="eierkomponentKode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="endringsInfo" type="bons1:ASBOGOSYSEndringsInfo">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
