tjenestespesifikasjoner/nav-cons-sak-gosys-3.0.0/src/main/wsdl/tjenestespesifikasjon/no/nav/asbo/notat/ASBOGOSYSFinnNotatListeReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/notat">
    <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo" schemaLocation="../ASBOGOSYSEierKomponent.xsd"/>
	<xsd:complexType name="ASBOGOSYSFinnNotatListeReq">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
			<xsd:element minOccurs="0" name="hentSensitiveData" type="xsd:boolean">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="eierKomponentListe" type="bons1:ASBOGOSYSEierKomponent">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
