tjenestespesifikasjoner/nav-cons-sak-gosys-3.0.0/src/main/wsdl/tjenestespesifikasjon/no/nav/asbo/inntekt/ASBOGOSYSInntekt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/inntekt" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/inntekt">
    <xsd:include schemaLocation="ASBOGOSYSInntektspost.xsd"/>
    <xsd:import namespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo" schemaLocation="../ASBOGOSYSEndringsInfo.xsd"/>
	<xsd:complexType name="ASBOGOSYSInntekt">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="oppgaveId" type="xsd:string"/>
			<xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
			<xsd:element minOccurs="0" name="inntektsTypeKode" type="xsd:string"/>
			<xsd:element minOccurs="0" name="fom" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="tom" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="aar" type="xsd:string"/>
			<xsd:element minOccurs="0" name="totalBelop" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="inntektsPoster" type="bons0:ASBOGOSYSInntektspost">
			</xsd:element>
			<xsd:element minOccurs="0" name="endringsInfo" type="bons1:ASBOGOSYSEndringsInfo">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
