tjenestespesifikasjoner/nav-cons-sak-gosys-3.0.0/src/main/wsdl/tjenestespesifikasjon/no/nav/asbo/inntekt/ASBOGOSYSHentInntektListeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/inntekt" targetNamespace="http://nav-cons-sak-gosys-3.0.0/no/nav/asbo/inntekt">
    <xsd:include schemaLocation="ASBOGOSYSInntektsTypeKode.xsd"/>
    <xsd:complexType name="ASBOGOSYSHentInntektListeRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="inntektsTypeKoder" type="bons1:ASBOGOSYSInntektsTypeKode">
			</xsd:element>
			<xsd:element minOccurs="0" name="fom" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="tom" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
